:root {
    --Black-Hole: #05030a;
    --Supernova: #f5fff8;
    --Moonrock: #d9d9d9;
    --Galaxy: #af36ff;
    --Plasma: #00ffae;
    --Button-Gradient: linear-gradient(90deg, #00ffae 0%, #af36ff 100%);
    --Drop-Shadow: 0.5vw 0.5vw 0px #05030a;
    --BG: linear-gradient(90deg, #f5fff8 0%, #d9d9d9 100%);
  }