:root {
    --Black-Hole: #05030a;
    --Supernova: #f5fff8;
    --Moonrock: #d9d9d9;
    --Galaxy: #7d5ccc;
    --Plasma: #6fff9a;
    --Button-Gradient: linear-gradient(107deg, #5cc07a 26.03%, #7d5ccc 73.97%);
    --Drop-Shadow: 0.5vw 0.5vw 0px #05030a;
    --BG: linear-gradient(90deg, #f5fff8 0%, #d9d9d9 100%);
  }